<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lening.mapper.GradeMapper">
	<resultMap id="BaseResultMap" type="com.lening.pojo.Grade">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="class_name" jdbcType="VARCHAR" property="className" />
		<result column="class_code" jdbcType="VARCHAR" property="classCode" />
		<result column="college_id" jdbcType="INTEGER" property="collegeId" />
		<result column="major_id" jdbcType="INTEGER" property="majorId" />
		<result column="enter_year" jdbcType="VARCHAR" property="enterYear" />
	</resultMap>

	<!-- 班级VO -->
	<resultMap id="GradeVo" type="com.lening.vo.GradeVo">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="class_name" jdbcType="VARCHAR" property="className" />
		<result column="class_code" jdbcType="VARCHAR" property="classCode" />
		<result column="college_id" jdbcType="INTEGER" property="collegeId" />
		<result column="major_id" jdbcType="INTEGER" property="majorId" />
		<result column="enter_year" jdbcType="VARCHAR" property="enterYear" />

		<result column="college_name" jdbcType="VARCHAR" property="collegeName" />
		<result column="major_name" jdbcType="VARCHAR" property="majorName" />
	</resultMap>


	<sql id="Base_Column_List">
		id, class_name, class_code, college_id, major_id, enter_year
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from grade
		where id = #{id,jdbcType=INTEGER}
	</select>

	<!-- 班级全查 -->
	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from grade
	</select>

	<!-- 班级详细信息全查 -->
	<select id="findVo" resultMap="GradeVo">
	SELECT
		g.*,c.college_name,m.major_name
	FROM
		`grade` g
	LEFT JOIN college c ON g.college_id = c.id
	LEFT JOIN major m ON g.major_id = m.id
	</select>

	<!-- 根据专业id获取新生成的班级代码 -->
	<select id="getClassCode" resultType="String">
		SELECT
			MAX(class_code) + 1
		FROM
			grade
		WHERE
			major_id = #{majorId}
	</select>
	
	<!-- 根据专业id获取新生成的班级代码最后一位数字 -->
	<select id="getEndNumber" resultType="int">
		SELECT
			COUNT(id) + 1
		FROM
			grade
		WHERE
			major_id = #{majorId}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from grade
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.lening.pojo.Grade">
		insert into grade (id, class_name, class_code,
		college_id, major_id, enter_year
		)
		values (#{id,jdbcType=INTEGER}, #{className,jdbcType=VARCHAR}, #{classCode,jdbcType=VARCHAR},
		#{collegeId,jdbcType=INTEGER}, #{majorId,jdbcType=INTEGER}, #{enterYear}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.lening.pojo.Grade">
		insert into grade
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="className != null">
				class_name,
			</if>
			<if test="classCode != null">
				class_code,
			</if>
			<if test="collegeId != null">
				college_id,
			</if>
			<if test="majorId != null">
				major_id,
			</if>
			<if test="enterYear != null">
				enter_year,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="className != null">
				#{className,jdbcType=VARCHAR},
			</if>
			<if test="classCode != null">
				#{classCode,jdbcType=VARCHAR},
			</if>
			<if test="collegeId != null">
				#{collegeId,jdbcType=INTEGER},
			</if>
			<if test="majorId != null">
				#{majorId,jdbcType=INTEGER},
			</if>
			<if test="enterYear != null">
				#{enterYear,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lening.pojo.Grade">
		update grade
		<set>
			<if test="className != null">
				class_name = #{className,jdbcType=VARCHAR},
			</if>
			<if test="classCode != null">
				class_code = #{classCode,jdbcType=VARCHAR},
			</if>
			<if test="collegeId != null">
				college_id = #{collegeId,jdbcType=INTEGER},
			</if>
			<if test="majorId != null">
				major_id = #{majorId,jdbcType=INTEGER},
			</if>
			<if test="enterYear != null">
				enter_year = #{enterYear},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lening.pojo.Grade">
		update grade
		set class_name = #{className,jdbcType=VARCHAR},
		class_code = #{classCode,jdbcType=VARCHAR},
		college_id = #{collegeId,jdbcType=INTEGER},
		major_id = #{majorId,jdbcType=INTEGER},
		enter_year = #{enterYear}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>