<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lening.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.lening.pojo.Teacher">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="grade_id" jdbcType="INTEGER" property="gradeId" />
  </resultMap>
  
  <!-- 讲师VO -->
   <resultMap id="TeacherVo" type="com.lening.vo.TeacherVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="grade_id" jdbcType="INTEGER" property="gradeId" />
    
    <result column="class_name" jdbcType="VARCHAR" property="className" />
  </resultMap>
  
  
  <sql id="Base_Column_List">
    id, teacher_name, sex, phone_number, title, grade_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 全查 -->
   <select id="findAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
  </select>
  
  <!-- 讲师详细信息全查 -->
  <select id="findVo" resultMap="TeacherVo">
   SELECT
		t.*, g.class_name
	FROM
		`teacher` t
	LEFT JOIN grade g ON t.grade_id = g.id
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lening.pojo.Teacher">
    insert into teacher (id, teacher_name, sex, 
      phone_number, title, grade_id
      )
    values (#{id,jdbcType=INTEGER}, #{teacherName,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{phoneNumber,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{gradeId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lening.pojo.Teacher">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="teacherName != null">
        teacher_name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="gradeId != null">
        grade_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teacherName != null">
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="gradeId != null">
        #{gradeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lening.pojo.Teacher">
    update teacher
    <set>
      <if test="teacherName != null">
        teacher_name = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="gradeId != null">
        grade_id = #{gradeId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lening.pojo.Teacher">
    update teacher
    set teacher_name = #{teacherName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      grade_id = #{gradeId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>